#CLARIN css

.wy-nav-top{
    background: #fff;
    font-family: "Noto Sans", sans-serif !important;
}

.wy-side-nav-search {
    background: #fff !important;
    font-family: "Noto Sans", sans-serif !important;
}

.wy-nav-content {
    max-width: 1400px !important;
}

.wy-nav-side{
    background: #f4f7fa !important;
	text-align: left;
}

.wy-menu-vertical a:hover {
    background:rgba(255,184,28, .11);
}

td, th {
  text-align: left;
}

.caption{
    background: #fff !important;
}

.caption-text{
    font-family: "Noto Sans", sans-serif !important;
    color: #495869;
}

/* adds scrollbar to sidenav */
.wy-side-scroll{
    width: auto;
    overflow-y: auto;
}

.rst-content,
.wy-body-for-nav,
h1,
h2,
h3,
h4{
    font-family: "noto sans" !important;
}

body {
	background-color: rgb(237, 240, 242, 0.3) !important;
	text-align: justify;
}

.guilabel{
    border: thin #f0f5f5 solid!important;
	/*1px solid #909090 !important;*/
    background: #005eb8 !important;
    color:  #fff !important;
	font-size: 90%;
    font-weight: 700;
    border-radius: 4px;
    padding: 2.4px 6px;
    margin: auto 2px
}

/*lines 76-87 contain the modified version of a note with clarin colors*/

/*.note{
    box-shadow: 12px 12px 2px 1px #e6cd99;
	border-radius: 12px;
	color: #333333;
	border: 3px solid #ffb81c;
}

.admonition-title{
    background: #ffb81c !important;
	border-radius: 12px;
}*/

.admonition{
	box-shadow: 12px 12px 2px 1px #e6cd99;
	border-radius: 12px;
	color: #333333;
}

/*.note{
    box-shadow: 12px 12px 2px 1px #e6cd99;
	border-radius: 12px;
	color: #333333;
}*/

.note-title{
    background: #f4f7fa !important;
	border-radius: 12px;
}

/*.attention{
  box-shadow: 12px 12px 2px 1px #e6cd99;
  border-radius: 12px;
  color: #333333;
}*/

.attention-title{
    background: #e64c4c !important;
	border-radius: 12px;
}

/*.tip{
    box-shadow: 12px 12px 2px 1px #e6cd99;
	border-radius: 12px;
	color: #333333;
}*/

.tip-title{
    background: #ffb81c !important;
	border-radius: 12px;
}

/*.error{
    box-shadow: 12px 12px 2px 1px #e6cd99;
	border-radius: 12px;
	color: #333333;
}*/

.error-title{
    background: #d92626 !important;
	border-radius: 12px;
}

button {
  border-radius: 4px!important;
  background-color: #f4f7fa !important;
  border: none;
  color: #005eb8 !important;
  text-align: left !important;
  font-size: 16px !important;
  letter-spacing: 1px; 
  padding: 16px;
  width: 380px !important;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 12px 12px 2px 1px #d5d9dd !important;
  }

/*float: right!important;*/

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }

button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover{
  color: #ffb81c !important;
  font-weight: 600!important;
  padding-right: 24px;
  padding-left:8px;
  background-color: rgba(255,184,28, .11)!important;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

img{
    text-align: center !important;
	/*border: thin #f0f5f5 solid;*/
	border: thin #bdcdde solid !important;
    border-radius: 4px!important;
}


h2,
.rst-content .toctree-wrapper p.caption{
    font-size: 130%
}

a:hover{
    color: #ffae00!important;
	font-weight: 600!important;
}

a:link,
a:visited{
    color: #005eb8
}
